### 1. 컬렉션 관리 함수
### 1) enumerate()

In [2]:
last_day = [31, 28, 31, 30, 31, 30]

# for 문으로
# 0월의 마지막 날짜는 0일입니다.
print(list(enumerate(last_day,1)))

# for 문으로
# 0월의 마지막 날짜는 0일입니다.
print(dict(enumerate(last_day,1)))

[(1, 31), (2, 28), (3, 31), (4, 30), (5, 31), (6, 30)]
{1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30}

### 2) zip()

In [8]:
last_day = [31, 28, 31, 30, 31, 30]
mon = ["1월", "2월", "3월", "4월", "5월", "6월"]

print(zip(mon, last_day))
print(list(zip(mon, last_day)))
print(dict(zip(mon, last_day)))

<zip object at 0x000001C6C3242980>
[('1월', 31), ('2월', 28), ('3월', 31), ('4월', 30), ('5월', 31), ('6월', 30)]
{'1월': 31, '2월': 28, '3월': 31, '4월': 30, '5월': 31, '6월': 30}

## 2. filter / map / lambda 함수

In [3]:
# filter

def ftest(point):
    return point + 20 > 60

points = [30, 20, 10, 40, 50, 60, 70, 80 ,90, 100]
print(list(filter(ftest, points)))

[50, 60, 70, 80, 90, 100]

In [8]:
# map

points = [30, 20, 10, 40, 50, 60, 70, 80 ,90, 100]
def mtest(point):
    return point + 20 > 60

print(list(map(mtest, points)))

[False, False, False, False, True, True, True, True, True, True]

In [10]:
# lambda
points = [30, 20, 10, 40, 50, 60, 70, 80 ,90, 100]
print(list(filter(lambda point : point + 20 > 60, points)))

print(tuple(map(lambda point : point * 2, points)))

[50, 60, 70, 80, 90, 100]
(60, 40, 20, 80, 100, 120, 140, 160, 180, 200)

In [13]:
# 리스트 컴프리헨션

points = [30, 20, 10, 40, 50, 60, 70, 80 ,90, 100]

 
print([ point for point in points if point + 20 > 60])
print([ point * 2 for point in points ])

print([point * 2 for point in points if point + 20 > 60])

[50, 60, 70, 80, 90, 100]
[60, 40, 20, 80, 100, 120, 140, 160, 180, 200]
[100, 120, 140, 160, 180, 200]

In [28]:
# lambda, filter, map 함수를 활용하여 한줄로 만들어보세요

#print([point * 2 for point in points if point + 20 > 60]) 의 결과값과 동일

#filtera = filter(lambda point : point + 20 > 60, points)
#print(list(filtera))      
    
#print(list(map(lambda point : point * 2, filter(lambda point : point + 20 > 60, points))))

#filtera = filter(lambda point : point + 20 > 60, points)


#print(list(map(lambda point : point * 2, filtera)))

#list(map(lambda point : point * 2, filtera))



#map(lambda point : point * 2, points)



#print(list(filter(lambda point : point + 20 > 60, points)))

#list(map(lambda point : point * 2, [10,20,30]))

# lista = list(filter(lambda point : point + 20 > 60, points)
# print(lista)
points = [30, 20, 10 , 40, 50, 60, 80, 70, 90, 100]

print(list(map(lambda point : point * 2, filter(lambda point : point + 20 > 60, points))))

             
#print(list(map(lambda point : point * 2, filtera)))

#list(map(lambda point : point * 2, filtera))

[100, 120, 160, 140, 180, 200]

## 3. 컬렉션의 사본

### 1) 리스트의 사본

In [33]:
a = 10
b = a

print(id(a))
print(id(b))
print(a is b)

b = 20
print(id(a))
print(id(b))
print(a is b)

1757329949200
1757329949200
True
1757329949200
1757329949520
False

In [38]:
lista = [10, 20, 30, 40, 50]
listb = lista

print(id(lista))
print(id(listb))
print(lista is listb)

print("_______________________")

listc = lista.copy()
listd = lista[:]
print(id(listc))
print(id(listd))
print(listc is listd)

lista[1] = 100
print(lista)
print(listb)
print(listc)

1757429958656
1757429958656
True
_______________________
1757429960704
1757429958720
False
[10, 100, 30, 40, 50]
[10, 100, 30, 40, 50]
[10, 20, 30, 40, 50]

In [44]:
import copy

lista = [10, 20, [110, 120, 130], 40, 50]
listb = lista.copy()
#listc = copy.deepcopy(lista)

print(lista)
print(listb)

print(id(lista))
print(id(listb))

lista[1] = 300
print(id(lista))
print(id(listb))
("--------------------")
print(lista)
print(listb)

lista[2][1] = 1000
print(lista)
print(listb)

print(id(lista))
print(id(listb))
print("---------------------------")
print(id(lista[2]))
print(id(listb[2]))

[10, 20, [110, 120, 130], 40, 50]
[10, 20, [110, 120, 130], 40, 50]
1757429843840
1757429855872
1757429843840
1757429855872
[10, 300, [110, 120, 130], 40, 50]
[10, 20, [110, 120, 130], 40, 50]
[10, 300, [110, 1000, 130], 40, 50]
[10, 20, [110, 1000, 130], 40, 50]
1757429843840
1757429855872
---------------------------
1757429857088
1757429857088

### [참고]

In [30]:
# mutable 자료형인 경우 함수내 변경 예제
def coll_test(a):
    print(a)
    a[1] = 10
    print(a)
    
lista = [1,2,3]
coll_test(lista)
print(lista)

[1, 2, 3]
[1, 10, 3]
[1, 10, 3]